<div class="row">
  <div class="col-xs-6">
    <h3>Your Data</h3>

        <%= line_chart @data_d %>
        <%= line_chart @data_f_1 %>
        <%= line_chart @data_f_2 %>
        <%= line_chart @data_g %>
        <%= line_chart @data_o_1 %>
        <%= line_chart @data_o_2 %>
        <%= line_chart @data_o_3%>
        <%= line_chart @data_o_4 %>
        <%= line_chart @data_r %>
        <%= line_chart @data_s %>


  </div>
</div>
